/*Pongo Margenes y Pading en 0*/
* {
  margin: 0%;
  padding: 0%;
}
/*----------------*/

table {
  border: 3px solid;
}

th {
  background-color: hsl(290, 68%, 55%);
  border: 1px solid;
}

td {
  border: 1px solid;
}

/*Breve Descripcion de lo que vamos a encontarr en Puebloalto*/
.tex-video__section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.encabezado {
  padding: 15px;
  text-align: center;
  background: rgb(240, 227, 255);
  background: linear-gradient(
    141deg,
    rgba(240, 227, 255, 1) 0%,
    rgba(216, 156, 246, 1) 76%,
    rgba(145, 109, 213, 1) 100%
  );
}

p {
  padding: 20px;
  color: #916dd5;
  text-align: center;
}
/*----------------------------------*/

/*-----Footer*------*/
footer {
  background: #f0e3ff;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bi {
  font-size: 35px;
  margin-right: 30px;
  color: #916dd5;
}
/* Pagina Sobre Nosotros */
.sobreNosotros-container {
  padding: 0px 20px;
}
p.sobreNosotros {
  font-style: italic;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

.logo {
  width: 50px;
  height: 50px;
}
.nav-menu {
  background-color: #e4dada;
}
.navbar-collapse {
  flex-grow: unset;
  width: 100%;
  justify-content: space-around;
}
.navbar .navbar-nav .nav-link {
  color: #3e206d;
  margin: 0px 30px;
  font-size: 1.3rem;
  font-weight: 600;
}
.navbar .navbar-nav .nav-link:hover {
  color: #b0aeb4;
}
.btn {
  background-color: #d9d3e2;
}
/*----------------------------*/

.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /*clase8*/
}

.imgNosotros {
  width: 50%;
  transition: all 2s; /*clase8*/
}

.imgNosotros:hover {
  /*clase8*/
  width: 75%;
  height: 75%;
}

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*Desafio 8 */

.seccion1 {
  margin-top: 25px;
}

.seccion2:hover {
  transform: rotateY(70deg);
}

.cardProducto:hover {
  transform: scale(1.1);
}

/*Seccion de Galeria*/
.galeria {
  padding: 50px;
  display: flex;
  justify-content: space-around;
}

/*Seccion de Contacto*/

fieldset {
  padding: 30px;
  background-color: #d89cf6;
}

.cajaContacto {
  background-color: #d89cf6;
  padding: 25px;
}

/*clase 11*/
/*Implementando BEM*/
.productos__cardProducto-container {
  display: flex;
  text-align: center;
}

.productos__titulo {
  font-size: 1.5rem;
  color: #6dd5ad;
  margin-bottom: 20px;
}

.productos__texto {
  line-height: 28px;
  font-size: 1rem;
  color: chocolate;
}
h3 {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #916dd5;
  font-size: 40px;
  text-align: center;
  padding: 16px;
  width: 100%;
}

/*Desafio 9 */
.container {
  background-color: #916dd5;
  padding: 25px;
  margin-bottom: 50px;
}

/*Uso de BEM*/
.carousel {
  width: 100%;
  margin-bottom: 30px;
}
.carousel__slide-section {
  height: 80vh;
}
.carousel__slide-1 {
  background: url("../img/carousel1.png") no-repeat center;
  background-size: cover;
}
.carousel__slide-2 {
  background: url("../img/carousel2.png") no-repeat center;
  background-size: cover;
}
.carousel__slide-3 {
  background: url("../img/carousel3.png") no-repeat center;
  background-size: cover;
}

/*CLASE 12 --Extend*/

.h1Padre {
  color: #3e206d;
  font-size: 30px;
  text-align: center;
}

.h1Hijo1 {
  @extend .h1Padre;
  color: #916dd5;
  
}

.h1Hijo1 {
  @extend .h1Padre;
  color: #916dd5;
}

.h1Hijo1 {
  @extend .h1Padre;
  color: #916dd5;
}

.h1Hijo1 {
  @extend .h1Padre;
  color: #916dd5;
}

h2 {
  color: #3e206d;
  font-size: 20px;
  text-align: center;
}

/*CLASE 12 --Mixins*/
@mixin estiloP($colorfondo, $letra) {
  background: $colorfondo;
  font-size: $letra;
}
.nosotros__container-parrafo {
  @include estiloP(orange, 25px);
}
.video__section-parrafo {
  @include estiloP(orange, 25px);
}
